@import "design-system";
@import "toggleColorTheme";
@import "progressBar";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.page{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-repeat: no-repeat;
    @include flex(column, flex-start, center);
    @media screen and (width: 1440px) and (height: 960px) {
    }
    &.light{
        background-color: $grey-50;
        @media screen and (max-width:450px) {
            background-image: url(../assets/images/pattern-background-mobile-light.svg); 
        }
        @media screen and (min-width:450px) and (max-width:1024px) {
            background-image: url(../assets/images/pattern-background-tablet-light.svg); 
        }
        @media screen and (min-width:1024px) {
            background-image: url(../assets/images/pattern-background-desktop-light.svg); 
        }
    }
    &.dark{
        background-color: $blue-900;
        @media screen and (max-width:450px) {
            background-image: url(../assets/images/pattern-background-mobile-dark.svg); 
        }
        @media screen and (min-width:450px) and (max-width:1024px) {
            background-image: url(../assets/images/pattern-background-tablet-dark.svg); 
        }
        @media screen and (min-width:1024px) {
            background-image: url(../assets/images/pattern-background-desktop-dark.svg); 
        }
    }
}
.contentArea{
    @include flex(column, flex-start, center);
    @media screen and (max-width:450px) {
        width: 100%;
    }
    @media screen and (min-width:450px) and (max-width:1024px) {
        width: clamp(30rem, 83.5vw, 83rem);
        gap: 5rem 0;
        margin-top: clamp(.1rem, 3.91vh, 10rem);
        margin-bottom: clamp(.1rem, 2vh, 10rem);
    }
    @media screen and (min-width:1024px) {
        width: clamp(30rem, 80.35vw, 130rem);
        gap: 8.5rem 0;
        margin-top:    clamp(2rem, 8.66vh, 15rem);
        margin-bottom: clamp(.1rem, 3vh, 15rem);
    }
}
.header{
    width: 100%;
    @include flex(row, space-between, center);
    @media screen and (max-width:450px) {
        padding: 1.6rem 2.4rem;
    }
}
.main{
    gap: 6.4rem 0;
    width: 100%;
    @include flex(column, flex-start, flex-start);
    @media screen and (max-width:450px) {
        gap: 4rem 0;
        padding: 3.2rem 2.4rem;
    }
    @media screen and (min-width:450px) and (max-width:1024px) {
        @media (orientation: portrait){
            @include flex(column, flex-start, flex-start);
        }
        @media (orientation: landscape){
            gap: 0 6.4rem; 
            @include flex(row, flex-start, flex-start);
        }
    }
    @media screen and (min-width:1024px) {
        @media (orientation: portrait){
            @include flex(column, flex-start, flex-start);
        }
        @media (orientation: landscape){
            gap: 0 12.8rem; 
            @include flex(row, flex-start, flex-start);
        }
    }
}
.buttonGroup{
    width: 100%;
    @include flex(column, flex-start, center);
    gap: 1.6rem 0;
    @media screen and (min-width:450px) and (max-width:1024px) {
        gap: 2.4rem 0;
    }
}
.titleTextContainer{
    min-width: 464px;
    text-align: left;
    &.light{
        color: $blue-900;
    }
    &.dark{
        color: $white;
    }
    & .subtitle{
        margin-bottom: 1.6rem;
        @include text-preset-2($light);
        @media screen and (max-width:450px) {
            @include text-preset-2($light, "mobile");
        }
        @media screen and (min-width:1024px) {
            margin-bottom: 4.8rem;
        }
    }
    & .title{
        margin-top: .8rem;
        @include text-preset-2($medium);
        @media screen and (max-width:450px) {
            @include text-preset-2($medium, "mobile");
        }
    }
    & .description{
        &.light{
            color: $grey-500;
        }
        &.dark{
            color: $blue-300;
        }
        @include text-preset-6;
        @media screen and (max-width:450px) {
            @include text-preset-5($medium, "mobile");
        }
    }
}

.btn{
    border: none;
}
.serviceButton{
    width: 100%;
    padding: 3.2rem;
    border-radius: 2.4rem;
    background-color: $purple-600;
    color: $white;
    cursor: pointer;
    @include text-preset-4;
    @media screen and (max-width:450px) {
        padding: 1.6rem;
        border-radius: 1.2rem;
        @include text-preset-4("mobile")
    }
    @media screen and (min-width:1024px) {
        &.submit{
            background-color: #d394fa;
        }
    }
}
.answerOptionsContainer{
    width: 100%;
    @include flex(column, flex-start, center);
    gap: 3.2rem 0;
    @media screen and (max-width:450px) {
        gap: 1.6rem 0;
    }
    @media screen and (min-width:1024px) {
        @media (orientation: landscape){
            flex-shrink: 0;
            width: 49%;
        }
    }
}
.form{
    width: 100%;
    @include flex(column, flex-start, center);
    gap: 3.2rem 0;
    @media screen and (max-width:450px) {
        gap: 1.6rem 0;
    }
}
.radio input{
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.optionButton,
.radio
{
    cursor: pointer;
    position: relative;
    padding: 1.6rem 1.6rem;
    text-align: left;
    @include text-preset-4;
    @include flex(row, space-between, center);
    gap: 0 3.2rem;
    transition: 100ms;
    @media screen and (min-width:1024px) {
        padding: 2.4rem 2.4rem;
    }
    @media screen and (max-width:450px) {
        border-radius: 1.2rem;
        gap: 0 1.6rem;
    }
    .quizPage &:hover,
    &:has(input:checked)   { @include optinButtonState("active")}
    &.chosenAnswerIsCorrect:has(input:checked) { @include optinButtonState("choseCorrect") }
    &.chosenAnswerIsWrong:has(input:checked)   { @include optinButtonState("choseWrong") }
}

.contentConainer{
    width: 100%;
    border-radius: 2.4rem;
    &.light{
        background-color: $white;
        box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
    }
    &.dark{
        background-color: $blue-850;
    } 
}

.iconState{
    width:  4rem;
    height: 4rem;
    @media screen and (max-width:450px) {
        width: 3.2rem;
        height: 3.2rem;
    }
}
.content{
    @include flex(row, flex-start, center);
    gap: 0 3.2rem;
    @include text-preset-4();
    &.light{
        color: $blue-900;
    }
    &.dark{
        color: $white;
    }
    @media screen and (max-width:450px) {
        @include text-preset-4("mobile");
        gap: 0 1.6rem;
    }
}
.iconContainer{
    width: 5.6rem;
    height: 5.6rem;
    & svg{
        width:  5.6rem;
        height: 5.6rem;
        & .svgBgPath{
            fill: $grey-50;
        }
    }
    &.html{
        background-color: $orange-50;
    }
    &.css{
        background-color: $green-100;
    } 
    &.javascript{
        background-color: $blue-50;
    } 
    &.accessibility{
        background-color: $purple-100;
    }  
    border-radius: 1.2rem;
    @include flex(row, center, center);
    @media screen and (max-width:450px) {
        width:  4rem;
        height: 4rem;
        & img{
            width:  4rem;
            height: 4rem;
        }
        & img{
            width:  2.8rem;
            height: 2.8rem;
        }
    }
}
.questionContainer{
    @include flex(column, flex-start, flex-start);
    @media screen and (max-width:450px) {
        width: 100%;
        gap: 2.4rem 0;
    }
    @media screen and (min-width:450px) and (max-width:1024px) {
        width: 100%;
        gap: 4rem 0;
    }
    @media screen and (min-width:1024px) {
        @media (orientation: landscape){
            gap: 18.4rem 0;
        }
        @media (orientation: landscape){
        }
    }
}
.questionTextContainer{
    width: 100%;
    gap: 2.4rem 0;
    @include flex(column, flex-start, flex-start);
    @media screen and (max-width:450px) {
        gap: 1.6rem 0;
    }
}
.questionNum{
    &.light{
        color: $grey-500;
    }
    &.dark{
        color: $blue-300;
    }
    @include text-preset-6;
    @media screen and (max-width:450px) {
        @include text-preset-5(none, "mobile");
    }
}
.questionText{
    &.light{
        color: $blue-900;
    }
    &.dark{
        color: $white;
    }    
    @include text-preset-3;
    @media screen and (max-width:450px) {
        @include text-preset-3("mobile");
    }
}

.resultContainer{
    width: 100%;
    @include flex(column, flex-start, center);
    gap: 3.2rem 0;
    @media screen and (max-width:450px) {
        gap: 1.6rem 0;
    }
}
.resultContent{
    @include flex(column, center, center);
    gap: 4rem 0;
    padding: 4.8rem;
    @media screen and (max-width:450px) {
        padding: 3.2rem;
        border-radius: 1.2rem;
        gap: 1.6rem 0;
    }
}

.score{
    &.light{
        color: $blue-900;
    }
    &.dark{
        color: $white;
    } 
    @include text-preset-1;
    @media screen and (max-width:450px) {
        @include text-preset-1("mobile");
    }
    text-align: center;
}
.totalScore{
    margin-top: 1.6rem;
    &.light{
        color: $grey-500;
    }
    &.dark{
        color: $blue-300;
    } 
    @include text-preset-5($regular);
    @media screen and (max-width:450px) {
        @include text-preset-4("mobile");
    }
}
.selectionError{
    @include flex(row, center, center);
    gap: 0 .8rem;
}
.textError{
    color: $red;
    @include text-preset-5($regular);
    @media screen and (max-width:450px) {
        @include text-preset-4("mobile");
    }
}


.modalContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    @include flex(row, center, center);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.modalContent{
    &.light{ color: $blue-900; }
    &.dark { color: $white; }
    @include text-preset-3;
    @media screen and (max-width:450px) {
        @include text-preset-3("mobile");
        width: 90vw;
    }
    @media screen and (min-width:450px) and (max-width:1024px) {
        width: clamp(30rem, 83.5vw, 60rem);
    }
    @media screen and (min-width:1024px) {
        width: clamp(30rem, 45vw, 130rem);
    }
    & .closeButton{
        background-color: $blue-900;
    }
}
.modalBtnGroup{
    width: 100%;
    @include flex(row, center, center);
    gap: 0 3rem;
}