@font-face {
    font-family: "Rubik";
    src: url(./../assets/fonts/Rubik-VariableFont_wght.ttf);
}

$white:     #FFFFFF;
$black:     #000000;
$grey-50:   #F4F6FA;
$grey-500:  #626C7F;
$blue-50:   #EBF0FF;
$blue-100:  #EDF1F9;
$blue-300:  #ABC1E1;
$blue-500:  #306AFF;
$blue-850:  #3B4D66;
$blue-900:  #313E51;
$blue-950:  #2D3949;
$green-100: #E0FDEF;
$green-500: #2FD887;
$purple-100:#F6E7FF;
$purple-600:#A729F5;
$orange-50: #FFF5ED;
$orange-400:#FF7E35;
$red:       #EE5454;
$spacing-100:  .8rem;
$spacing-200:  1.6rem;
$spacing-300:  2.4rem;
$spacing-400:  3.2rem;
$spacing-500:  4rem;
$spacing-600:  4.8rem;
$spacing-800:  6.4rem;
$spacing-1600: 12.8rem;
$spacing-1800: 14.4rem;
$spacing-2300: 18.4rem;
$light:        300;
$regular:      400;
$medium:       500;


@mixin text-preset-1($device: "desktop"){
    font-family:    "Rubik";
    font-size:      14.4rem;
    font-weight:    $medium;
    line-height:    100%;
    letter-spacing: 0;
    @if $device == "mobile"{
        font-size:  8.8rem;
    }
}
@mixin text-preset-2($weight, $device: "desktop"){
    font-family:    "Rubik";
    font-size:      6.4rem;
    font-weight:    $weight;
    line-height:    100%;
    letter-spacing: 0;
    @if $device == "mobile"{
        font-size:  4rem;
    }
}
@mixin text-preset-3($device: "desktop"){
    font-family:    "Rubik";
    font-size:      3.6rem;
    font-weight:    $medium;
    line-height:    120%;
    letter-spacing: 0;
    @if $device == "mobile"{
        font-size:  2rem;
    }
}
@mixin text-preset-4($device: "desktop"){
    font-family:    "Rubik";
    font-size:      2.8rem;
    font-weight:    $medium;
    line-height:    100%;
    letter-spacing: 0;
    @if $device == "mobile"{
        font-size:  1.8rem;
    }
}
@mixin text-preset-5($weight, $device: "desktop"){
    font-family:    "Rubik";
    font-size:      2.4rem;
    font-weight:    $weight;
    line-height:    150%;
    letter-spacing: 0;
    @if $device == "mobile"{
        font-size:  1.4rem;
        font-style: italic;
        font-weight:$regular;
    }
}
@mixin text-preset-6($device: "desktop"){
    font-family:    "Rubik";
    font-size:      2rem;
    font-style:     italic;
    line-height:    150%;
    letter-spacing: 0;
}
@mixin flex($direction, $main-axis, $cross-axis){
    display:         flex;
    flex-direction:  $direction;
    justify-content: $main-axis;
    align-items:     $cross-axis;
}
@mixin optinButtonState($state){
    $accentColor: #000;
    @if($state == "active")       {$accentColor: $purple-600}
    @if($state == "choseWrong")   {$accentColor: $red}
    @if($state == "choseCorrect") {$accentColor: $green-500}
    outline: .3rem solid $accentColor;
    & .svgBgPath{
        fill: $accentColor;
    }
    & .svgLetterPath{
        fill: $white;
    }
}
.hidden{
    display: none;
}
